body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(204, 192, 179, 0.747);
  color: #776e65;
  font-size: 18px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

h3,
label {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

#instructions p {
  border: 3px solid #776e65;
  width: 50%;
  margin: 50px auto;
  padding: 10px;
}

table {
  margin: 10px auto;
  border: 10px solid;
  color: #776e65;
  box-sizing: border-box;
}

form {
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button,
a {
  background-color: #8f7a66;
  color: #f9f6f2;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

input.button:hover,
a:hover {
  color: lightgrey;
}

input.button {
  padding-top: 0px;
}

.tile {
  height: 100px;
  width: 100px;
  background-color: rgb(204, 192, 179);
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-value {
  font-size: 45px;
  font-weight: bold;
}

.score {
  text-align: center;
  margin-bottom: 20px;
}

.color-2 {
  background-color: rgb(238, 228, 218);
  color: rgb(119, 110, 101);
}

.color-4 {
  background-color: rgb(237, 224, 200);
  color: rgb(119, 110, 101);
}

.color-8 {
  background-color: rgb(242, 177, 121);
  color: rgb(249, 246, 242);
}

.color-16 {
  background-color: rgb(245, 149, 99);
  color: rgb(249, 246, 242);
}

.color-32 {
  background-color: rgb(246, 124, 95);
  color: rgb(249, 246, 242);
}

.color-64 {
  background-color: rgb(246, 94, 59);
  color: rgb(249, 246, 242);
}

.color-128 {
  background-color: rgb(237, 207, 114);
  color: rgb(249, 246, 242);
}

.color-256 {
  background-color: rgb(237, 204, 97);
  color: rgb(249, 246, 242);
}

.color-512 {
  background-color: rgb(237, 200, 80);
  color: rgb(249, 246, 242);
}

.color-1024 {
  background-color: rgb(237, 197, 63);
  color: rgb(249, 246, 242);
}

.color-2048 {
  background-color: rgb(237, 194, 46);
  color: rgb(249, 246, 242);
}